@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-weight: 500;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    text-rendering: optimizeLegibility;
  }
}